{% extends "tests/base.html" %}

{% block content %}
  <h2 style="margin-bottom: 35px;">Тесты</h2>
{% if test_list %}
{% for test in test_list %}
  <p style="font-size: 20px; margin: 15px;"><a href="{% url testcreator.tests.views.test_detail test.id %}">{{ test.title }}</a></p>
{% endfor %}
{% endif %}
  <div style="margin-top: 50px;">
    <p id="add_test_link"><a href="{% url testcreator.tests.views.add_test %}">Добавить тест</a></p>
    <form action="{% url testcreator.tests.views.add_test %}" method="post" id="add_test_form" style="display: none;">
      {% csrf_token %}
      <p><input type="text" name="test"> <input type="submit" value="Добавить тест"></p>
    </form>
  </div>
{% endblock %}
