{% extends "tests/base.html" %}

{% block title %}{{ test.title }}{% endblock %}

{% block content %}
  <h2 style="margin-bottom: 35px;">{{ test.title }}</h2>
{% if question_list %}
<ul>
{% for question in question_list %}
  <li style="font-size: 14px;"><a href="{% url testcreator.tests.views.question_detail question.id %}">{{ question.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
  <div style="margin-top: 35px; height: 50px;">
    <p id="add_test_link"><a href="{% url testcreator.tests.views.add_question test.id %}">Добавить вопрос</a></p>
    <form action="{% url testcreator.tests.views.add_question test.id %}" id="add_test_form" style="display: none;" method="post">
{% csrf_token %}
      <p><input type="text" name="question"> <input type="submit" value="Добавить вопрос"></p>
    </form>
  </div>
  <div style="margin-top: 50px;">
    <p style="font-weight: bold;">Экспорт случайно выбранных вопросов в PDF</p>
    <form action="{% url testcreator.tests.views.export_to_pdf_page test.id %}" id="export_questions_form" method="get">
      <p><label for="questions">Число вопросов:</label> <input type="text" name="questions" id="questions" size="4"> <input type="submit" value="Экспортировать"></p>
    </form>
  </div>
{% endblock %}
